extends navigation

block content
    .container
        img.img-fluid(src="https://picsum.photos/1000/250", alt="Cover Photo")
        .card
            .card-header
                h3.text-primary Profile
            .card-body
                form(method="POST",action="/users/"+user.id)
                    img(src="https://picsum.photos/100/100" alt="Profile Pic")
                    input.form-control(type="text",name="name" value=user.name)
                    input.form-control(type="email",name="email" value=user.email)
                    input.form-control.btn.btn-submit.btn-sm(value="Update Info")
