extends navigation

block content
  .container.wall-width
    .card
      .card-header
        Make Post
      .card-body
        form(method="POST" action="/posts" id="new-post")
          textarea.form-control(rows="2", name="post", placeholder="What's on your mind ?")
      .card-footer
        button.btn.btn-primary(type="submit" form="new-post") Post
    
    .posts
      each post in posts
        .post
          .card
            .card-body
              div.flex.align-end
                img.img-circle(src="https://picsum.photos/40/40")
                div.flex.column.ml-2
                  p.mb-0.text-primary Ankur Heble
                  p.text-muted.text-sm a few seconds ago
              div.flex.column
                p= post.content
              hr
              div.flex
                a.no-anchor-color.fa.fa-thumbs-up.m-auto(href="#") Like
                a.no-anchor-color.fa.fa-comment.m-auto(href="#") Comment
                a.no-anchor-color.fa.fa-share-square.m-auto(href="#") Share
              hr
              div.comments
                ul.list-group
                  each comment in post.comments
                    li.list-group-item.no-border
                      div.flex
                        img.comment-pic.img-circle(src="https://picsum.photos/30/30")
                        div.flex.column.ml-2
                          p.mb-0.ml-2.comment-content=comment.content
                          div.ml-2.flex
                            a.text-sm.no-underline(href="#") Like
                            p.text-sm.ml-2.text-muted July 12
            .card-footer
                form(method="POST" action="/posts/" + post.id + "/comments")
                  div.flex.align-center
                    img.comment-pic.img-circle.mr-2(src="https://picsum.photos/30/30")
                    input.form-control.comment-box(type="text" placeholder="Write a comment..." name="comment" style="height:30px")        
